/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 14, 2018, 10:06:23 PM
    Author     : ramon
*/
/* css menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #0309ba;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #d3d5ff}

.dropdown:hover .dropdown-content {
    display: block;
}
/* css menu*/

*{margin: 0; padding: 0;}

body{
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
}
.centralizado{
    text-align: center;
    align-content: center;
}
.direita{
    text-align: right;
    align-content: center;
}
.esquerda{
    text-align: left;
    align-content: center;
}
table{ 
    margin-right:auto; 
    margin-left:auto; 
    align-content: center;
}

.semborda{
    border: none;   
}

table.bordasimples{
    border-collapse: collapse;
}
table.bordasimples tr td {
    border:2px solid #a0a0a0;

}
.centro_disciplina{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    align-content: center;
}
.centro_check{
    vertical-align: central;
    text-align: center;

}
input{
    padding: 10px 12px;  
    font-size: 12px;
}
.button{
    border: black;
    color: back;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;   
}
button{
    border: black;
    color: back;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;   
}
.container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.box {
    width: 300px;
    height: 300px;
    background: #f9f9f9;
}
body {
    margin: 0px;
}
.logincentro{
    padding-top: 20px;
    align-content: center;
}

input[type=text], select {
    width: 100%;
/*    padding: 12px 20px;*/
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/*Dialog*/
.window {position: fixed; width: 440px; height: 200px; display: none; z-index: 9090; padding: 20px; background-color: #fff;}